<div class="menu">
  <span class="search">
    <input type="text" name="search" />
    <input type="submit" class="button" value="Traži" />
  </span>
  <menu-link *ngFor="let link of model.linkovi"
              [vrednost]="link"
              (onLinkClicked)="model.goToPath(link.putanja)">

  </menu-link>

</div>